h1
{color: ivory; text-align: center;}

p{color:antiquewhite;
font-size: 20px;}

input
{font-size: 20px;
    font-style: italic;
    background-color: rgb(255, 0, 0);
    border-radius: 50px;
    border-color: black;
    border-style: ridge;

}

body{
    background-image: url(background.jpg);
    background-size: 100%;
    background-repeat:no-repeat ;
}


div
{font-size: 100px; color: antiquewhite;}

h2
{ color: antiquewhite; 
    text-decoration: underline;
}

img
{border: 2px solid deepskyblue;}

form
{
    color: green;
}